extends layout

block content
  script(src="http://#{config.websocket.host}:#{config.websocket.port}/socket.io/socket.io.js")

  script(src='/javascripts/Three.js')
  script(src='/javascripts/physi.js')

  script(data-main='/javascripts/application.js', src='/javascripts/require.js')

  h1= config.application.name
  div#gamecontainer

